body{
    background-color: #f4f2f2;
}

h2{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.attendance-header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.title {
    text-align: left;
}

.month-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.month-selector button {
    padding: 5px 10px;
    cursor: pointer;
}

#monthPicker {
    padding: 5px;
}

.calendar-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.month-button{
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
}

.this-month{
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.current-month {
    font-weight: bold;
    font-size: 16px;
}

.attendance-container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.attendance-table th,
.attendance-table td {
    padding: 10px;
    text-align: center;
}

.attendance-table th {
    border-bottom: 3px solid #E1E1E1;
}

.attendance-table td{
    border-bottom: 1px solid #E1E1E1;
}

.attendance-detail{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}